#home {
	background: #6C7C6C;
	color: white;
}

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a{
	margin: 5px 15px;
}



.nav-item a:link, .nav-item a:visited{ 
    color: #FFF;
    padding: 8px 12px;
}

.nav-item a:hover{
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}